/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #777;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding: 30px;
}

/* header part */
.header {
    background-image: linear-gradient(to right bottom,
    rgba(126,213,111,0.8),
    rgba(40,180,131,0.8)),
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 5em;
    left:5em;
}
.logo {
    height: 35px;
}

.text-box {
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase; 
    backface-visibility: hidden; /* sometime anymation is shaking, this property is preventing the shaking */
}

.heading-primary-title{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
    display: block;
    animation: moveinLeft 1s ease-out;
    
    /* 
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 3;
    animation-iteration-count: 3; 
    */
    
}


.heading-primary-sub{
    font-size: 20px;
    font-weight: 400;
    display: block;
    letter-spacing: 40.5px;
    animation: moveinRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    margin-bottom: 3em;
}

@keyframes moveinLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes moveinRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    50% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 3em;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;  /* make animation smoother */
    position: relative;
 
}

.btn-animation {
    animation: movinBtn .5s ease-out .75s;
    animation-fill-mode: backwards;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);/* xdirection */
}
.btn:active {
    transform: translateY(-1px);
}
.btn-white {
    background-color: white;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-white::after {
    background-color: white;
}

@keyframes movinBtn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}