@mixin btnstyle {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;  /* make animation smoother */
    position: relative;
    font-size: $default-font-size;
}

@mixin clearfix {
    &::after {
        content: ""; // otherwise after is not working
        clear: both;
        display: table;
    }
}

@mixin gradienttypo {
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin centerAlignItem {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

//Media query code manager
/*
0 - 600px phone
600 -900px tablet
900-1200px tablet landscape
1200 - 1800px desktop - normal style toursite
1800px - bigdesktop
*/
/* @mixin responsivePhone {
    @media (max-width: 600px){
     @content
    }
}
 */
/* breakPoint argument choices
-phone
-tabPort
-tabLand
-bigDesktop
 */
//1em = 16px
@mixin responsive($breakPoint) {
    @if $breakPoint == phone {
        @media (max-width: 37.5em){ //600/16 = 37.5
            @content
           }
    }
    @if $breakPoint == tabPort {
        @media (max-width: 56.25em){ //900/16 =56.25
            @content
           }
    }
    @if $breakPoint == tabLand {
        @media (max-width: 75em){ //1200/16 = 75
            @content
           }
    }
    @if $breakPoint == bigDesktop {
        @media (min-width: 112.5em){ //1800/16 = 112.5
            @content
           }
    }
}




