//partial scss 
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%; 
    //this defines what 1rem is
    /* root fontSize same as 10px 10/16 = 0.625 */
}
body {
    box-sizing: border-box;
}