body {
    color: $color-gray-dark;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase; 
    backface-visibility: hidden; /* sometime anymation is shaking, this property is preventing the shaking */
    margin-bottom: 6rem;
    
    &--title{
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        display: block;
        animation: moveinLeft 1s ease-out;
        @include responsive(phone){ //600px
            letter-spacing: 1rem;
            font-size: 5rem;
        }
        /* 
        animation: name duration timing-function delay iteration-count direction fill-mode;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: 3;
        animation-iteration-count: 3; 
        */  
    }
    &--sub{
        font-size: 2rem;
        font-weight: 700;
        display: block;
        letter-spacing:1.7rem;
        animation: moveinRight;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        @include responsive(phone){ //600px
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    backface-visibility: hidden;
    @include gradienttypo;
    transition: all .2s;
    letter-spacing: .2rem;
    @include responsive(tabPort) {
        font-size: 3rem;
    }
    @include responsive(phone){ //600px
            font-size: 2.5rem;
            letter-spacing: 0.1rem;
    }
    &:hover {
        transform: skewY(1deg) skewX(10deg) scale(1.1);//110%
        text-shadow: .5rem 1rem 2rem rgba($color-black,.1);
        // xdirection ydireaction blur color(color,alpha)
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph {
font-size: $default-font-size;
&:not(:last-child) {
    margin-bottom: 3rem;
}
}