body {
    color: $color-gray-dark;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 1.5rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase; 
    backface-visibility: hidden; /* sometime anymation is shaking, this property is preventing the shaking */
    margin-bottom: 6rem;
    &--title{
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        display: block;
        animation: moveinLeft 1s ease-out;
        /* 
        animation: name duration timing-function delay iteration-count direction fill-mode;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: 3;
        animation-iteration-count: 3; 
        */  
    }
    &--sub{
        font-size: 2rem;
        font-weight: 700;
        display: block;
        letter-spacing:1.7rem;
        animation: moveinRight;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    backface-visibility: hidden;
    background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: 2px;
    &:hover {
        transform: skewY(1deg) skewX(10deg) scale(1.1);//110%
        text-shadow: .5rem 1rem 2rem rgba($color-black,.1);
        // xdirection ydireaction blur color(color,alpha)
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    text-transform: uppercase;

}

.paragraph {
font-size: $default-font-size;
&:not(:last-child) {
    margin-bottom: 3rem;
}
}